/App-redis_traffic_stats-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

junk/*
private/*
TODO.todo
MEMO
xt/9*_*
